@using Umbraco.Extensions
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>


<section class="inContent inContent_Widget">
    <div class="container">
        <div class="box-white">
            @Model.Content.Value("richText")
        </div>
    </div>
</section>
